<div class="row warning" id="warning-<%= warning.id %>">
  <div class="col-md-12">
    <p>
      <%= warning.description %> 
      <span class="delete-button">
        <a href="javascript:void(0)">( Delete )</a>
      </span>
    </p>
  </div>
</div>